examples/subflow statusbarPolling.json
[
    {
        "id": "cc9a3a48.73f2b8",
        "type": "subflow",
        "name": "sbPolling",
        "info": "# Statusbar UI State Polling\n\nThis subflow is required to translate any event of dashborad ui_widgets into an event that can be used to trigger an upadte of a statusbar widget. Pollingis ugly but it works. ",
        "category": "Statusbar",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "56de485a.7fda98"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 220,
                "wires": [
                    {
                        "id": "ee11ae70.f68",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "inputLabels": [
            "ui event"
        ],
        "outputLabels": [
            "sbWidget event"
        ],
        "icon": "font-awesome/fa-circle-o-notch",
        "status": {
            "x": 1080,
            "y": 300,
            "wires": [
                {
                    "id": "826655db.3433b8",
                    "port": 0
                },
                {
                    "id": "ad505c60.9f945",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "56de485a.7fda98",
        "type": "change",
        "z": "cc9a3a48.73f2b8",
        "name": "state variable",
        "rules": [
            {
                "t": "set",
                "p": "state_var",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "574f0cbe.811df4",
        "type": "inject",
        "z": "cc9a3a48.73f2b8",
        "name": "polling",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "812c8101.fa5df"
            ]
        ]
    },
    {
        "id": "812c8101.fa5df",
        "type": "function",
        "z": "cc9a3a48.73f2b8",
        "name": "get state variable",
        "func": "msg.payload = flow.get(\"state_var\")||0;\nmsg.topic = \"update\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "ee11ae70.f68"
            ]
        ]
    },
    {
        "id": "ee11ae70.f68",
        "type": "rbe",
        "z": "cc9a3a48.73f2b8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "b87bce3e.6851c"
            ]
        ]
    },
    {
        "id": "826655db.3433b8",
        "type": "function",
        "z": "cc9a3a48.73f2b8",
        "name": "green",
        "func": "msg.payload = {\n    fill:\"green\",\n    shape:\"dot\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "250dae93.cfb892",
        "type": "switch",
        "z": "cc9a3a48.73f2b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "826655db.3433b8"
            ],
            [
                "ad505c60.9f945"
            ]
        ]
    },
    {
        "id": "b87bce3e.6851c",
        "type": "trigger",
        "z": "cc9a3a48.73f2b8",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "250dae93.cfb892"
            ]
        ]
    },
    {
        "id": "ad505c60.9f945",
        "type": "function",
        "z": "cc9a3a48.73f2b8",
        "name": "off",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ade83258.59cbd",
        "type": "comment",
        "z": "cc9a3a48.73f2b8",
        "name": "get the state variable at 2Hz",
        "info": "",
        "x": 200,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b1529b7.f5d696",
        "type": "comment",
        "z": "cc9a3a48.73f2b8",
        "name": "set the state variable",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    }
]